.Hero {
  background: #252934;
  height: 30vh;
}

.HeroContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #60bfbc;
  text-shadow: 0px 0px 2px #b8c2bb;
}


p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.5rem;
}
h1 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}
